node_modules

# Activity Solutions
#Solved
03-Algorithms

# Activities
03-JavaScript/01-Activities/03-Iteration-Random
03-JavaScript/01-Activities/04-Functions
03-JavaScript/01-Activities/05-Rock-Paper-Scissors

# Current Modules
03-JavaScript/05-Module-Project/main

# Previous HW
02-Advanced-CSS/02-Challenge/Main

# Current HW
03-JavaScript/02-Challenge/Main